<!-- Term Modal -->
<div class="modal fade" id="term-of-service" tabindex="-1" aria-labelledby="termOfService" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="termOfService">Xizmat ko'rsatish shartlari</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <p>
            Quyida ushbu modal dialog uchun faqat bir nechta to'ldiruvchi matn keltirilgan. Siz shunchaki yorug'likni yoqishingiz kerak
            va u porlasin! Menga qanday bo'lsangiz, shunday keling. Faqat 4-iyul kabi kechaga egalik qiling. Menga yuqtir
            Sening sevging va meni zaharing bilan to'ldir. Menga qanday bo'lsangiz, shunday keling. Kamalak ko'rinadigan xazinaning oxiri.
        </p>
        <p>
            Men uxlay olmayman, keling, qochib ketaylik va hech qachon orqaga qarama, hech qachon orqaga qarama. Men uxlay olmayman, yuguramiz
            uzoqda va hech qachon orqaga qarama, hech qachon orqaga qarama. Ha, biz farishtalarni yig'laymiz, yerga yomg'ir yog'diramiz
            yuqoridan. Men havoda yuryapman (bu kecha). Menga qo'lingizni tor jinsi shimlarimga qo'ying.
            Asalaridek tishlab o'z yo'llarimni oldim. Men noldan o'zimning qahramonimga o'tdim. Hatto undan ham yorqinroq
            oy, oy, oy. Osmon bo'ylab o'q otayotganda ularni "Aah, aah, aah" deb yuboring! Nega menga ruxsat bermaysiz
            to'xtang?
        </p>
        <p>
            Bum, bum, bum. Hech qachon meni bir marta ko'z qisib qo'yishga majburlamadi. Ha, agar siz uning samolyotida bo'lsangiz, omadingiz bor.
            Bizning kelajagimiz haqida gapiring, xuddi bizda maslahat bor edi. Xudoyim, mubolag'asiz. Siz originalsiz, uni almashtirib bo'lmaydi.
            Qiz jinni, u Laguna Beachda jip haydaydi. Bu katta narsa emas, bu katta narsa emas,
            bu katta gap emas. Boshqa hayotda seni qolishga majbur qilardim. Men sening yuragimni urmoqchiman
            teriga yopishmaydigan jinsi shimlar. Men sizning to'lqin uzunligingizda yurishni va tebranish paytida u erda bo'lishni xohlayman. Hech qachon meni yaratmagan
            bir marta miltillash.
        </p>
        <p>
            Biz dunyoga qarshi barcha va'dalarimizni bajaramiz. Boshqa hayotda men sizning qizingiz bo'lardim. Biz qila olamiz
            raqs, biz o'lgunimizcha, siz va men, abadiy yosh bo'lamiz. Va mening 18 yoshga to'lgan kunimda biz mos tushdik
            tatuirovka. Shunday qilib, yuragingizni oching va uni boshlashga ruxsat bering. Chunki u ilhomlantiruvchi va rassom.
            U sizning yuragingizni yeydi. Jeffri Dahmer kabi (woo). Konfetingizni oching. (Biz shunday qilamiz) I
            bilingki, bitta uchqun dunyoni larzaga soladi, ha ha. Kelajakda nima bo'lishini bilsangiz edi.
        </p>
        <p>
            Rozedan hoʻplab, Kumush koʻl quyoshi, dangasalik bilan chiqmoqda. Bu endi sizning kaftingizda, bolam.
            Shunday qilib, biz bulvarga tushdik. Shunday qilib, orzu qiling, men buni har kuni tug'ilgan kuningiz kabi qilaman. Siz hech qachon
            allaqachon chuqur olti fut ostida ko'milgan his? Katta sharlarni olib chiqish vaqti keldi.
            Siz eng buyuk bo'lishingiz mumkin edi. Pasport markalari, u kosmopolit. Sizning o'pishingiz kosmikdir,
            har bir harakat sehrdir.
        </p>
        <p> 
            Biz hayot bilan yashayapmiz. Biz buni to'g'ri qilyapmiz. Yuragingizni oching. Men uni urishga va uni tark etishga harakat qildim.
            Uning sevgisi giyohvandga o'xshaydi. Har doim yulduz changining izini qoldiradi. Qiz jinni, jip haydaydi
            Laguna Beachda. Yaxshi, yangi, shiddatli, biz uni qulflab oldik. Mening barcha qizlarim Chanel vintage chaqaloq.
        </p>
        <p>
            Siz men bilan uchrashguningizcha men yaxshi edim, lekin ishlar biroz og'ir edi. Shaftoli pushti lablar, ha, hamma tikiladi.
            Bu katta ish emas. Ismimni chaqirish. Men sizning giyohvandligingizni qayta yozishim mumkin edi. Unda buni bor, je ne
            sais quoi, siz buni bilasiz. Toj kiygan bosh og'ir. Sababi, bolam, sen otashin odamsan.
            Momaqaldiroq yerni silkitgandek.
        </p>
        <p>
            4-iyul kabi kechaga egalik qiling! Men uni komaga tushiraman. Siz kutayotgan narsa shu
            uni ko'rsatish vaqti keldi. Sizni million uzuk bilan almashtirib bo'lmaydi. Ko‘zlarimni och, men tayyorman
            ket, meni nurga yetakla. Va mana siz. Men uni komaga tushiraman. Qani, ruxsat bering
            ranglar yorilib ketdi. Shunday qilib, ko'zlaringizni yoping, menda ajablanib bor. Men yolg'iz boshqa ritmga yurganimda.
            Hovuzdagi pushti flamingolar xona bo'ylab porlaydi.
        </p>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Tushundim</button>
        </div>
    </div>
    </div>
</div>
